* {
	font-family: "Gilroy";
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    color: #242424;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.bold-blue {
    font-size: 50px;
    color: #0782cd; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn {
    box-shadow: 0px 10px 40px rgba(0,127,204,0.2);
    border-style: solid;
    border-color: #068DDF;
    background-color: #007FCC;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    transition: 0.3s all;
}

.btn:hover {
    background-color: #068DDF;
}

h2 {
    font-size: 50px;
}

.container {
	position: relative;
	width: 1240px;
	margin: 0 auto; 
}

a {
	text-decoration: none;
	color: #fff;
}

.promo {
	background-color: #242424;
	height: 933px;
}

.promo .promo-img {
	min-height: 933px;
	width: 1940px;
	margin: 0 auto; 
	background: url("../img/promo/bl1-3.jpg") no-repeat;
	
}

.promo .subheader {
	padding-top: 20px;
}

.promo .subheader-list {
	display: grid;
	grid-template-columns: 286px 278px 396px 249px;
	gap: 10px;
}

.promo .subheader-list .subheader-item .logo{
    font-size: 30px;
    color: #fff;
    line-height: 42px;
    font-family: 'Gilroy';
    font-weight: 800;
}

.promo .subheader-list .subheader-item .light {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px;
    font-family: 'Gilroy';
    font-weight: 300;
}

.promo .subheader-list .subheader-item .ml {
	margin-left: 44px;
}

.promo .subheader-list .subheader-item .icons {
	width: 25px;
}

.promo .subheader-list .subheader-item .whatsapp {
	margin-left: 10px;
}

.promo .subheader-list .subheader-item .tel {
    line-height: 36px;
    font-size: 26px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 800;
	margin-left: 10px;
}

.promo .promo-main {
    position: relative;
	padding-top: 101px;
}

.promo .promo-main p {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    font-family: 'Gilroy';
    font-weight: 300;
    left: 124px;
}

.promo .promo-main h1 {
    text-shadow: 0px 0px 17px rgba(255,255,255,0.17);
    box-shadow: none;
    text-transform: uppercase;
    font-size: 43px;
    color: #fff;
    line-height: 60px;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-top: 11px;

}

.promo .promo-main .main-car {
    position: absolute;
    top: -6px;
    right: -326px;
}

.promo .promo-main .form {
	margin-top: 24px;
    width: 517px;
    height: 235px;
}

.promo .promo-main .form .width-276 {
    width: 276px;
    height: 58px;
}

.promo .promo-main .form .width-203 {
    width: 203px;
    height: 58px;
}

.promo .promo-main .form .form-hover:hover {
    background-color: #fff;
    color: #242424;
}

.promo .promo-main .form #form {
    display: grid;
    grid-template-columns: 276px 203px;
    grid-template-rows: repeat(2, 1fr 1fr);
    gap: 20px;
}

.promo .promo-main .form .form-blue {
    background-color: #007FCC;
    font-family: "Gilroy";
    font-weight: 800;
    color: #fff;
    transition: 0.3s all;
}

.promo .promo-main .form .form-blue:hover {
    background-color: #068DDF;
}

.promo .promo-main input:last-child {
    border-style: solid;
    border-width: 1px;
    border-color: #007FCC;
    background-color: #242424;
    border-radius: 2px;
    font-size: 16px;
    color: #B5B5B5;
    line-height: 44px;
    font-family: 'Gilroy';
    font-weight: 300;
    position: relative;
    padding: 6px 6px 6px 17px;
}

.promo .promo-main .form .checked {
    display: flex;
}

.promo .promo-main .form .checked p {
    border-width: 0px;
    text-align: left;
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-left: 10px;
}

.promo .promo-wrapper {
    padding-top: 44px;
    width: 1200px;
}

.promo .promo-wrapper .promo-wrapper-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.promo .promo-wrapper .promo-wrapper-item {
    display: grid;
    grid-template-columns: 73px 277px;
    align-items: center;
    gap: 41px;
}

.promo .promo-wrapper .item-circle {
    border-radius: 50%;
    background-color: #fff;
    width: 73px;
    height: 73px;
}

.promo .promo-wrapper .item-circle img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.priority {
    background-color: #f5f5f7;
    padding-top: 75px;
    padding-bottom: 75px; 
}
.priority h2 {
    min-height: 70px;
    text-shadow: 0px 0px 17px rgba(255, 255, 255, 0.17);
    box-shadow: none;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 800; 
}
.priority p {
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-left: 102px;
    margin-bottom: 50px; 
}
.priority p span {
    font-weight: normal; 
}
.priority-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; 
}
.priority-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; 
}
.priority-list-item h3 {
    line-height: 27px;
    font-size: 18px;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-bottom: 15px; 
}
.priority-list-item p {
    line-height: 24px;
    font-size: 16px;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 300;
    margin: 0 auto; 
}
.priority-list-item p span {
    color: #7F7F7F;
    font-family: 'Gilroy';
    font-weight: 800; 
}
.priority-list-item-icons {
    width: 64px;
    border-radius: 70px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
    border-style: solid;
    border-width: 1px;
    border-color: #F5F5F7;
    background-color: #FFFFFF;
    line-height: 64px;
    font-size: 28px;
    text-align: center;
    color: #007FCC;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-bottom: 18px; 
}

.divider {
    position: relative;
    background-color: #007fcc;
    height: 120px; 
}
.divider .container {
    padding: 0 auto; 
}
.divider img {
    position: absolute;
    top: -30px;
    left: 200px;
    border-radius: 50%; 
}
.divider p {
    padding-top: 25px;
    margin-left: 500px;
    color: #FFF;
    font-family: 'Gilroy';
    font-size: 18px;
    font-style: italic;
    font-weight: 300; 
    line-height: 24px;
}

.divider p q {
    color: #fff;
}

.contract {
    padding-top: 75px;
    padding-bottom: 55px; 
    width: 1940px;
    background: url("../img/contract/bl8.jpg") no-repeat;
    margin: 0 auto;
}
.contract ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
.contract .contract-blocks {
    display: flex;
    justify-content: space-between; 
}
.contract .contract-descr h2 {
    text-shadow: 0px 0px 17px rgba(255, 255, 255, 0.17);
    box-shadow: none;
    line-height: 60px;
    font-size: 50px;
    text-align: left;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-left: 8px;
    padding-bottom: 25px; 
}

.contract .contract-header {
    line-height: 40px;
    font-size: 22px;
    text-align: left;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 300; 
}
.contract .contract-header-item {
    position: relative;
}

.contract .contract-header-item p {
    margin-left: 55px;
    line-height: 40px;
}

.contract .contract-header-item .checkbox::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 8px;
    width: 20px;
    height: 20px;
    background-image: url("../icons/contract/tick.png");
}

.contract .contract-doc li {
    line-height: 19px;
    font-size: 16px;
    text-align: left;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-left: 21px;
    margin-top: 8px;
}

.contract .icons {
    display: flex;
    justify-content: start;
    margin-top: 35px;
    margin-bottom: 20px;
}

.contract .contract-doc {
    margin-top: 20px;
    margin-bottom: 6px;
}

.contract .contract-doc li {
    position: relative;
}

.contract .contract-doc li > .dash::before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(0, 127, 204);
    top: 11px;
    left: -20px;
    width: 12px;
    height: 1px;
}

.contract .contract-of-sale img {
    display: block;
    box-shadow: 0 0 25px 0 #34495e;
}

.contract .contract-btn {
    width: 384px;
    min-height: 60px;
    box-shadow: 0px 10px 40px rgba(0,127,204,0.2);
    line-height: 56px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Futura PT';
    font-weight: 700;
    margin-top: 34px;
  
}

.convenience {
    padding-top: 75px;
    padding-bottom: 55px; 
    width: 1940px;
    min-height: 720px;
    background: url("../img/convenience/bl4-2.jpg") no-repeat;
    margin: 0 auto;
}

.convenience h2 {
    position: relative;
    text-align: end;
    margin-right: 5px;
}

.convenience .convenience-list {
    width: 638px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.convenience .convenience-item {
    display: grid;
    gap: 10px;
    grid-template-rows: 2;
}

.convenience .circle {
    border-radius: 50%;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 7%);
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #F5F5F7;
    width: 75px;
    height: 74px;
}

.convenience .convenience-item p {
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    color: #242424;
    font-family: 'Gilroy';
    font-weight: 300;
}

.convenience .convenience-item p > span {
    font-family: 'Gilroy';
    font-weight: 800;
}

.convenience .convenience-item img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.convenience .btn {
    width: 448px;
    min-height: 60px;
    border-style: solid;
    line-height: 56px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Futura';
    font-weight: 700;
    left: 600px;
    margin-top: 18px;
    position: relative;
    border-width: 0px 0px 3px;
}

.time {
    position: relative;
    background-color: #f5f5f7;
}

.time .container {
    display: flex;
    justify-content: space-around;
}

.time .time-bg {
    height: 470px;
    width: 1920px;
    background: url("../img/time/bl3-2.jpg") no-repeat;
    margin: 0 auto;
}

.time .time-sg {
    position: absolute;
    top: 318px;
    min-height: 200px;
    width: 1920px;
    background: url("../img/time/bl3-3.png") no-repeat;
    margin: 0 auto;
}
.time .time-descr {
    margin-top: 75px;
    width: 790px;
}

.time h2 {
    line-height: 60px;
    font-size: 40px;
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 800;
    padding-bottom: 12px;
}

.time h2 > .bold-blue {
    font-size: 40px;
}

.time p {
    line-height: 27px;
    font-size: 18px;
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-top: 8px;
    position: relative;
}

.time p > span {
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 800;
}

.time .time-descr p.bold {
    min-height: 75px;
    border-style: solid;
    border-color: #007FCC;
    line-height: 36px;
    font-size: 28px;
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-top: 16px;
    position: relative;
    border-width: 0px 0px 0px 5px;
    padding-left: 21px;
}

.time .time-descr p .bold-blue {
    font-size: 28px;
}

.time .time-form {
    margin-top: 75px;
}

.time #time-form {
    width: 277px;
    margin-top: 20px;
}

.time .time-form h3 {
    width: 278px;
    font-size: 20px;
    color: #fff;
    line-height: 26px;
    font-family: 'Gilroy';
    font-weight: 800;
}

.time .time-form #time-form-phone {
    width: 279px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #007FCC;
    background-color: #F5F5F7;
    border-radius: 2px;
    font-size: 16px;
    color: #7F7F7F;
    line-height: 44px;
    font-family: 'Gilroy';
    font-weight: 300;
    padding: 6px 6px 6px 17px;
    margin-bottom: 20px;
}

.time .time-form .time-btn {
    position: relative;
    width: 279px;
    height: 60px;
    border-style: solid;
    border-color: #C1272D;
    background-color: #CE465B;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-top: 10px;
    padding: 7px 3px 0px 0px;
    border-width: 0px 0px 3px;
    transition: 0.3s all;
}

.time .time-form .time-btn:hover {
    background-color: #C1272D;
}

.time .time-form .time-checkbox-block {
    display: flex;
    height: 38px;
    margin-top: 30px;
}

.time .time-form .time-checkbox {
    width: 16px;
    height: 16px;
}

.time .time-form .time-checkbox-label {
    display: inline-block;
    width: 186px;
    line-height: 12px;
    font-size: 12px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-left: 12px;
}

.cars {
    padding-top: 75px;
    padding-bottom: 55px;
}

.cars h2 {
    text-align: center;
}

.cars .cars-blocks {
    display: grid;
    grid-template-columns: 1fr 380px 1fr;
}

.cars .cars-list {
    margin-top: 70px;
}

.cars .cars-list-left .cars-item {
    position: relative;
    display: grid;
    grid-template-columns: 308px 1fr;
}

.cars .cars-list-right .cars-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 308px;
}

.cars .cars-item:not(:first-child) {
    margin-top: 70px;
}

.cars .cars-item h3 {
    line-height: 24px;
    font-size: 20px;
    text-align: right;
    font-family: 'Gilroy';
    font-weight: 800;
}

.cars .cars-item p {
    line-height: 24px;
    font-size: 16px;
    text-align: right;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-top: 10px;
}

.cars .cars-item img {
    display: block;
    margin: 0 auto;
}

.cars .cars-list-left .cars-item .cars-divider::after {
    position: absolute;
    display: block;
    content: '';
    top: 46px;
    right: 20px;
    height: 1px;
    width: 63px;
    background: #007fcc;
}
.cars .cars-img {
    margin-top: 70px;
}

.cars .cars-list-right p,
.cars .cars-list-right h3 {
    text-align: left;
}

.cars .cars-list-right .cars-item .cars-divider::after {
    position: absolute;
    display: block;
    content: '';
    top: 46px;
    left: 20px;
    height: 1px;
    width: 63px;
    background: #007fcc;
}

.cars .h2-small {
    line-height: 31px;
    font-size: 26px;
    text-align: center;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-top: 55px;
}

.cars .cars-brand {
    margin-top: 55px;
}

.cars .cars-brand-list {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}

.cars .cars-brand-item {
    width: 46px;
    height: 46px;
}

.guarantee {
    width: 1940px;
    height: 475px;
    background: url("../img/guarantee/bl5.jpg") no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 75px;
}

.guarantee h2 {
    line-height: 42px;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 800;
}

.guarantee p {
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-top: 20px;
}

.guarantee .guarantee-form {
    text-align: center;
    margin-top: 55px;
    height: 58px;
}

.guarantee #guarantee-form-phone {
    width: 308px;
    height: 58px;
    border-style: solid;
    border-width: 1px;
    border-color: #007FCC;
    background-color: #F5F5F7;
    border-radius: 2px;
    font-size: 16px;
    color: #7F7F7F;
    line-height: 44px;
    font-family: 'Gilroy';
    font-weight: 300;
    padding: 6px 6px 6px 17px;
}

.guarantee .guarantee-form .guarantee-btn {
    width: 308px;
    height: 58px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    padding: 7px 3px 0px 0px;
    border-width: 0px 0px 3px;
    margin-left: 30px;
}

.guarantee .guarantee-form .guarantee-checkbox-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.guarantee .guarantee-form .guarantee-checkbox {
    width: 16px;
    height: 16px;
}

.guarantee .guarantee-form .guarantee-checkbox-label {
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    color: #666666;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-left: 15px;
}

.buyback {
    min-height: 611px;
    background-color: #F5F5F7;
}

.stages {
    width: 1940px;
    height: 790px;
    background: url("../img/stages/bl6.jpg") no-repeat;
    margin: 0 auto;
    padding-top: 95px;
}

.stages .stages-block {
    margin-top: 30px;
}

.stages .stages-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.stages .stages-item .stages-circle {
    border-radius: 50%;
    width: 73px;
    height: 73px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.07);
    border-style: solid;
    border-width: 1px;
    border-color: #F5F5F7;
    background-color: #FFFFFF;
}

.stages .stages-item .stages-circle img {
    display: block;
    margin: 0 auto;
    margin-top: 14px;
}

.stages .stages-item .stages-circle .support {
    margin-top: 8px;
}

.stages .stages-item .stages-circle .loupe {
    margin-top: 10px;
}

.stages .stages-item .stages-arrow {
    margin-top: 18px;
    margin-left: 18px;
}



.stages .stages-item .stages-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.stages .stages-item .stages-descr {
    margin-top: 50px;
}

.stages .stages-item .stages-descr h3 {
    line-height: 24px;
    font-size: 20px;
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 800;
}

.stages .stages-item .stages-descr p {
    line-height: 24px;
    font-size: 16px;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-top: 20px;
}

.stages .stages-item .stages-descr p span {
    display: block;
    line-height: 36px;
    font-size: 26px;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-top: 13px;
    margin-bottom: 13px;
}

.stages .stages-divider {
    display: grid;
    grid-template-columns: 278px 1fr;
    align-items: center;
    width: 748px;
    height: 104px;
    margin-top: 50px;
}

.stages .stages-divider .btn {
    width: 278px;
    height: 63px;
    box-shadow: 0px 10px 40px rgba(0,127,204,0.2);
    font-family: 'Gilroy';
    font-weight: 800;
    border-radius: 3px;
    transition: 0.3s all;
}

.stages .stages-divider .stages-help {
    width: 780px;
    height: 105px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.07);
    border-style: solid;
    border-width: 1px;
    border-color: #E4E4E4;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-left: 200px;

}

.stages .stages-divider .stages-help .smart-img {
    position: absolute;
    display: block;
    left: 423px;
    bottom: -1px;
}

.stages .stages-divider .stages-help .stages-messenger {
    display: grid;
    grid-template-columns: 494px 1fr;
}

.stages .stages-divider .stages-help .stages-messenger p {
    
    line-height: 28px;
    font-size: 20px;
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 800;
    margin-left: 75px;
    margin-top: 9px;
}

.stages .stages-divider .stages-help .stages-messenger .stages-messenger-icons {
    margin-top: 16px;
}

.stages .stages-divider .stages-help .stages-messenger .stages-messenger-icons img {
    width: 25px;
    height: 25px;
}

.stages .stages-divider .stages-help .stages-messenger .stages-messenger-icons .stages-phone {
    line-height: 36px;
    font-size: 26px;
    text-align: left;
    font-family: 'Gilroy';
    font-weight: 800;    
    margin-left: 10px;
}

.stages .stages-divider .stages-help .stages-messenger .stages-messenger-icons .stages-messenger-text {
    display: inline-block;
    margin-left: 10px;
}







